# compiled binaries
vector_add
matmul_naive
matmul_benchmark
benchmark
softmax
layernorm
*.out
*.o
*.exe

# CUDA build files
*.ptx
*.cubin
*.fatbin

# editor files
.vscode/
.idea/

# OS files
.DS_Store

# temporary files
*.log

.venv/
__pycache__/
*.pyc
build/
*.egg-info/
*.so
profiles/
