# compiled binaries
vector_add
matmul_naive
matmul_benchmark
benchmark
*.out
*.o
*.exe

# CUDA build files
*.ptx
*.cubin
*.fatbin

# editor files
.vscode/
.idea/

# OS files
.DS_Store

# temporary files
*.log